<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Saigon Glisten Admin</title>

    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../LayoutAdmin/assets/css/style.css">
    <link rel="shortcut icon" href="../../LayoutAdmin/assets/images/saigon-glisten.jpg" />

</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                @* <a class="navbar-brand brand-logo" href="@Url.Content("~/Home/Index")">><img src="../../LayoutAdmin/assets/images/logo.svg" alt="logo" /></a> *@
              @*   <a class="navbar-brand brand-logo-mini" href="@Url.Content("~/Home/Index")"><img src="../../LayoutAdmin/assets/images/logo-mini.svg" alt="logo" /></a> *@
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <!-- Hung cap nhat -->
                <div class="search-field d-none d-md-block">
                    <form class="d-flex align-items-center h-100" action="@Url.Action("Search", "Product")" method="post">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text mdi mdi-magnify"></span>
                            </div>
                            <input type="text" class="form-control" name="query" placeholder="Tìm kiếm">
                            
                            @if (User.IsInRole("Admin"))
                            {
                            <div class="input-group-append">
                                <select class="form-select custom-select" name="searchType">
                                    <option value="product">Sản phẩm</option>
                                    <option value="category">Danh mục</option>
                                    <option value="user">Người dùng</option>
                                </select>
                            </div>
                            }
                            @if (User.IsInRole("Company"))
                            {
                            <div class="input-group-append">
                                <select class="form-select custom-select" name="searchType">
                                    <option value="product">Sản phẩm</option>
                                    <option value="category">Danh mục</option>
                                </select>
                            </div>
                            }
                        </div>
                        <button type="submit" class="btn btn-primary ml-2">Tìm kiếm</button>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Register", "Account", new { area = "Identity" })">
                                    <i class="mdi mdi-account-plus menu-icon"></i>
                                    <span class="menu-title">Đăng ký tài khoản</span>
                                </a>
                            </li>
                        }
                    </form>
                </div>

                <!-- End Hung cap nhat -->
                <ul class="navbar-nav navbar-nav-right">
                    @* những button có thể thêm trên header *@
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
                 <!-- partial -->
                 <partial name="_LoginPartial" />

            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    @*  =================================================================== *@

                    <!-- Navbar Right Items -->
                    <ul class="navbar-nav navbar-nav-right">
                        <!-- ... -->
                       
                          @*   <li class="nav-item">
                                <a class="nav-link" href="@Url.Content("~/Home/Index")">
                                    <span class="menu-title">Trang chủ</span>
                                    <i class="mdi mdi-home menu-icon"></i>
                                </a>
                            </li> *@
                             @if (User.IsInRole("Admin") || User.IsInRole("Company"))
                            {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Product")">
                                    <span class="menu-title">Danh sách sản phẩm</span>
                                    <i class="mdi mdi-cart menu-icon"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Add", "Product")">
                                    <span class="menu-title">Thêm sản phẩm</span>
                                    <i class="mdi mdi-plus menu-icon"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Categories")">
                                    <span class="menu-title">Danh sách danh mục</span>
                                    <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Add", "Categories")">
                                    <span class="menu-title">Thêm danh mục</span>
                                    <i class="mdi mdi-plus menu-icon"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "TourDay")">
                                    <span class="menu-title">Danh sách tour day</span>
                                    <i class="mdi mdi-cart menu-icon"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Create", "TourDay")">
                                    <span class="menu-title">Thêm tour day</span>
                                    <i class="mdi mdi-plus menu-icon"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "History")">
                                    <span class="menu-title">Lịch sử giao dịch</span>
                                    <i class="mdi mdi-plus menu-icon"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "ThongBao", new { area = "Admin" })">
                                    <span class="menu-title">Danh sách thông báo</span>
                                    <i class="mdi mdi-view-dashboard menu-icon"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Create", "ThongBao", new { area = "Admin" })">
                                    <span class="menu-title">Thêm thông báo</span>
                                    <i class="mdi mdi-view-dashboard menu-icon"></i>
                                </a>
                            </li>
                        }
                         @if (User.IsInRole("Admin")) 
                         {
                              <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Account")">
                                    <span class="menu-title">Quản lý người dùng</span>
                                    <i class="mdi mdi-account menu-icon"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">
                                    <span class="menu-title">Dashboard</span>
                                    <i class="mdi mdi-view-dashboard menu-icon"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "RecordVideo", new { area = "Admin" })">
                                    <span class="menu-title">Record-Video</span>
                                    <i class="mdi mdi-view-dashboard menu-icon"></i>
                                </a>
                            </li>

                           
                           
                           @*  <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Report")">
                                    <span class="menu-title">Báo cáo và thống kê</span>
                                    <i class="mdi mdi-account menu-icon"></i>
                                </a>
                            </li> *@
                           @*  <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Transactionmanagement")">
                                    <span class="menu-title">Quản lý giao dịch</span>
                                </a>
                            </li> *@
                         }
                        @*   @if (User.IsInRole("Company")) 
                         {
                             <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Report")">
                                    <span class="menu-title">Báo cáo và thống kê</span>
                                    <i class="mdi mdi-account menu-icon"></i>
                                </a>
                            </li>
                         } *@
                       
                        <!-- ... -->
                    </ul>
                    @*  =================================================================== *@
                </ul>
            </nav>


            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>

                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block"> &copy; 2024 - SAIGON GLISTEN - Đồ án môn học</span>
                       @*  <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span> *@
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="../../LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="../../LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="../../LayoutAdmin/assets/js/misc.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
    function validateSearchForm() {
        var query = document.getElementById('searchQuery').value;
        if (query.trim() === '') {
            return false; // Không gửi biểu mẫu nếu ô tìm kiếm trống
        }
        return true; // Gửi biểu mẫu nếu ô tìm kiếm không trống
    }
</script>

</body>
</html>
